/** importação**/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;1,300&family=Orbitron:wght@400;500;600;700&display=swap");

/**padronização**/

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1em; /** 16 px ou tamnho 12*/
}
img {
  max-width: 100%;
  height: auto;
}

/*** smartphone ***/

/*cabeçalho*/
header {
  height: 80px;
}
#logo img {
  width: 193px;
  height: 69px;
  /*background-color: darkgray;*/
  padding: 10px 0px 0px 10px;
}
/*banner*/
#banner {
  background: url(imagens/abis.jpg) center;
  height: 50vh;
  background-size: cover; /*tamnhio real da imagem independente da tela*/
  background-attachment: fixed; /*fixa o backgraud*/
  text-align: center;
  /*as linhas abaixo centraliza os conteudos na vertical*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#banner1 {
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 1.75em;
}
#banner h2 {
  display: none;
}

/* Pagina em construção */
#construct {
  text-align: center;
  padding: 30px 0px 30px 0px; /*top  rigth bottom lefy */
}

#construct img {
  width: 50%;
  height: 50%;
}

#check {
  display: none;
}
label {
  font-size: 2.5em;
  color: rgba(47, 89, 216, 0.5);
  position: fixed;
  top: 20px;
  right: 15px;
}

nav ul {
  width: 100%;
  background-color: #343538;
  height: 100vh; /*100% do tamanho da tela*/
  list-style: none; /* remover os bolatis*/
  position: fixed;
  top: 80px;
  right: -100%;
  transition: all 0.5s;
}

nav ul li {
  padding: 20px;
  border-bottom: 1px solid #a9a9a9;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
}
/* quando a caicha check for selecionada muda a propriedade   */
#check:checked ~ ul {
  right: 0;
}

#construct h2 {
  color: grey;
}

/**rodapé*/




footer {
  background-color: rgb(41, 39, 39);
  color: rgb(231, 224, 224);
  text-align: center;
  padding: 0px 0px 0px 0px; /*top  rigth bottom lefy */
}

footer p {
  color: blanchedalmond;
  font-size: 0.875em;
}
/** Desktop ***/

/* A tudo que for codificado dentro dessa midia em compotamento alterado para resulucoes de
 tela acima de 1200px**/
@media (min-width: 1200px) {


  /*cabeçalho */
  .Layout {
    max-width: 1140px;
    margin: 0 auto; /*centralização do conteiner no documento*/
    /*background-color: yellow;*/
  }
  header {
    height: 100px;
    padding-top: 30px;
  }

  #logo {
    float: left;
  }

  #logo img {
    width: 209px;
    height: 66px;
  }
  label {
    display: none;
  }
  nav {
    float: right;
  }
  nav ul {
    margin-top: 20px;
    position: static;
    height: auto;
    background-color: #ffffff;
  }

  nav ul li {
    display: inline-block;
    border: 0;
  }
  nav ul li a {
    color: #a9a9a9;
    font-weight: 600;
    text-transform: uppercase; /*tudp maiusculo*/
    font-size: 0.875em;
  }
  nav ul li a:hover {
    color: powderblue;
  }
  /*banner*/
  #banner p {
    background-attachment: fixed;
    height: 50vh;
  }
  #banner h1 {
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  #banner h2 {
    display: block;
    color: #ffffff;
  }

  /* rodape*/
  footer {
    font-size: 1em;
    padding: 30px 0px 30px 0px;
  }

  div ul li {
    display: inline-block;
    margin-top: 50px;
  }
  #timao{
    
    text-align: center;
    color: rgb(13, 13, 14);
  }

}
